<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <!-- Container for the todo list app -->
    <div class="container">
        <!--**** Logo of the TODO List ****-->
        <h1 style="text-align: center; padding-top: 2%; margin-top: 5px; color: #515364;">
            <i class="bi bi-list-task"></i>
            ToDo List App
        </h1>
        <div class="form-container">
            <!-- ***********Form to populate the todo list by entering new data on the page************ -->
            <form action="/add_todo" method="POST">
                <div class="top-section">
                    <div class="top-section1">
                        <label style="margin-left: 2%; font-family: 'Times New Roman', Times, serif; font-weight: 600;"
                            for="description">DESCRIPTION : </label>
                        <input style="color: #7e8081;" type="text" id="description" name="description"
                            placeholder="What do you need to do?">
                    </div>
                    <div class="top-section2">
                        <div class="dropdown">

                            <label
                                style="margin-left: 4%;font-family: 'Times New Roman', Times, serif; font-weight: 600;"
                                for="category">CATEGORY : </label>
                            <select style="border: 0; padding: 5px; color: #7e8081;" name="category" id="category">
                                <option value="" selected disabled>Choose a category</option>
                                <option value="Personal">Personal</option>
                                <option value="School">School</option>
                                <option value="Work">Work</option>
                                <option value="Cleaning">Cleaning</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="date">
                            <label
                                style="margin-left: 4%;font-family: 'Times New Roman', Times, serif; font-weight: 600; color: #1c1d1d;"
                                for="date">DATE : </label>
                            <input style="font-size: larger;" type="date" id="date" name="date">
                        </div>
                    </div>
                </div>
                <!-- *****Both the Buttons ADD Task and Delete Task**** -->
                <div class="middle-section">
                    <a href="#"><button name="action" value="add" type="submit" style="background-color: #0040ff;">
                            <i class="bi bi-plus-square"></i>ADD TASK</button></a>
                    <button name="action" value="delete" type="submit" style="background-color: #ff0000;">
                        <i class="bi bi-trash3"></i>DELETE TASK</button>
                </div>
            </form>
            <!-- ***************************Form ended************************************ -->
        </div>

        <div class="bottom-section">
            <!-- *****************looping over the todolist items from the DB/array and rendering on the page***************** -->
            <% for ( let i of todolist ) {%>
                <div>
                    <input style="margin-right: 6%;" type="checkbox" id="<%= i.category%>" class="checkbox-todo"
                        name="<%= i.description%>" value="<%= i.category%>" onclick="checkedOrNot()">
                    <label style="display: inline-block; width: 100%;" for="<%= i.category%>">
                        <h4 style="margin-bottom: -5px;">
                            <%= i.description%>
                        </h4>
                        <p><i style="padding-right: 10px;" class="bi bi-calendar-event"></i>
                            <%= i.date%>
                        </p>
                    </label>
                    <a href="/delete-item/?id=<%= i._id%>"><i class="bi bi-trash"></i></a>
                    <button style="height: 60%;width: 90px; margin-right: 3%; padding: 1%; border-radius: 5px;
                                 border: 1px solid darkgray">
                        <%= i.category%>
                    </button>
                </div>
                <%}%>
        </div>
    </div>
</body>

</html>